body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow: scroll;
}

.menu-container {
  transition: ease-in-out;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0 auto;
  align-self: center;
  margin-top: 50px;

  background-color: rgb(255, 255, 255); /* Set the background color to white */
  display: flex; /* Make the menu items display in a row */
  justify-content: center; /* Center the menu items horizontally */
  align-items: center; /* Center the menu items vertically */
  height: 80px; /* Set the height of the menu container */
  width: 1500px;
  border-radius: 40px; /* Make the edges of the container circular */
}

.menu-container.unscrolled {
  animation: back 0.2s;
  transition: ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0 auto;
  align-self: center;
  margin-top: 50px;

  background-color: rgb(255, 255, 255); /* Set the background color to white */
  display: flex; /* Make the menu items display in a row */
  justify-content: center; /* Center the menu items horizontally */
  align-items: center; /* Center the menu items vertically */
  height: 80px; /* Set the height of the menu container */
  width: 1500px;
  border-radius: 40px; /* Make the edges of the container circular */
}

@keyframes back {
  0% {
    margin-top: 0px;
    width: 100%;
  }
  100% {
    margin-top: 50px;
    width: 1500px;
  }
}

@keyframes lengthIncrease {
  0% {
    width: 1500px;
    margin-top: 50px;
  }
  100% {
    width: 4000px;
    margin-top: 0px;
  }
}

.menu-container.scrolled {
  animation: lengthIncrease 0.2s;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  align-self: center;
  margin-top: 0px;

  background-color: rgb(255, 255, 255); /* Set the background color to white */
  display: flex; /* Make the menu items display in a row */
  justify-content: center; /* Center the menu items horizontally */
  align-items: center; /* Center the menu items vertically */
  height: 80px; /* Set the height of the menu container */
  width: 100%;
  border-radius: 0px; /* Make the edges of the container circular */
}

.menu-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

  width: auto; /* Reduce the width of the menu items */
  height: auto; /* Reduce the height of the menu items */
  border-radius: 3.625rem; /* Reduce the border-radius of the menu items to make them smaller */

  min-width: 0; /* set the minimum width of the menu item */
  min-height: 0; /* set the minimum height of the menu item */

  padding: 10px; /* add some padding  */
  padding-right: 40px;
  padding-left: 40px;
  line-height: 1; /*make the text vertically centered inside the menu item*/

  background-color: #ffffff;
  text-align: center;
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 2px 2px 5px rgb(255, 255, 255);
  width: 50px; /* Set the width and height of the menu items to 50px */
  height: 50px;
  /* Make the menu items display in a row */
  justify-content: center; /* Center the menu items horizontally */
  align-items: center; /* Center the menu items vertically */
  font-size: 20px;
  position: relative;
  text-decoration: none;
  margin-right: 60px;
  margin-left: 60px;
  /* Set the font size of the text inside the menu items */
  transition: background-color 0.2s ease-in-out; /* Make the hover effect smooth */
}
/* Change the background color of the menu items when the mouse hovers over them */
.menu-item:hover {
  background-color: #f3f3f3;
}

.menu-text img {
  width: 60px; /* adjust the width of the logo */
  height: 60px; /* adjust the height of the logo */
  padding-left: 50px;
  padding-right: 50px;
}

div#hero {
  background-image: url("./beach-1110347.jpg");
  background-size: cover;

  height: 700px;
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: fixed;

  object-fit: contain;
  width: 100vw;
}

.menu-item.start-campaign {
  border: 2px solid green;
  border-radius: 3.625rem;
  color: green;
}
